@font-face {
  font-family: "natureBeauty"; /* Replace 'YourChosenFontName' */
  src: url("../fonts/nature_beauty.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.contact {
  width: 100%;
  min-height: 90vh; /* Set a minimum height */
  display: flex;
  background-color: #121619;
}

.contact .leftSide {
  flex: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact .rightSide {
  flex: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input, textarea {
  border-radius: 10px;
  background-color: #888888;
}

.contact .rightSide h1 {
  font-family: natureBeauty, "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 10;
  font-size: 50px;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  text-align: center;
  color: #f6a5c0;
}

.contact .rightSide .numbers {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
  font-size: 1.3em;
}

.contact .rightSide p {
  font-family: natureBeauty, "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 10;
  margin-top: 0;
  text-align: center;
  color:#F6A5C0; 
  font-size: 1.5em;
  margin-bottom: 0.1em;
}

form {
  margin-top: 3.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
  width: 100%;
  height: auto;
 
}

form input {
  height: 40px;
  width: 80%;
  border: none;
  border-bottom: 1px solid #121619;
  color: black;
}

label {
  text-align: left;
}
form textarea {
  margin-top: 15px;
  height: 70px;
  width: 80%;
  border: none;
  border-bottom: 1px solid #121619;
  color: black;
}
input::placeholder,
textarea::placeholder {
  font-weight: bold;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
form input:focus,
textarea:focus {
  outline: none;
}

form label {
  margin-top: 15px;
  color: grey;
}



.submitButton {

  margin-top: 1em;
 
  background-color: #F6A5C0;
  border-radius: 10px;
  font-family: natureBeauty, "Arial";
  font-size: 1.5em;
  padding: 1em; 
  white-space: nowrap; 
  cursor: pointer; 
 
}

.order {
  margin-top: 0;
}


@media only screen and (max-width: 800px) {
  .contact .leftSide {
    flex: 0;
  }
}

