@font-face {
  font-family: "natureBeauty";
  src: url("../fonts/nature_beauty.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.footer {
  width: 100%;
  height: 200px;
  background-color: #121619;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
}

.socialMedia svg {
  color: white;
  margin: 20px;
  font-size: 70px;
  cursor: pointer;
}

.socialMedia svg:hover {
  color: #f6a5c0;
}

.footer p {
  color: white;
}

@media only screen and (max-width: 800px) {
  .socialMedia svg {
    margin: 10px;
    font-size: 60px;
  }

  .footer {
    height: 180px;
    padding-top: 8px;
  }

  .footer p {
    font-size: 0.9em;
  }

}