@font-face {
  font-family: 'natureBeauty'; 
  src: url('../fonts/nature_beauty.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.home {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    background-position: fit ;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    background-image:  url("../assets/backgroundHome.jpg");
    position: relative;
    top: 100px;
  }

  .headerContainer {
    width: auto;
    margin-left: 50px;
  }
  
  .headerContainer h1 {
    justify-content: center;
    align-items: center;
    font-size: 90px;
    height: 60px;
    font-weight: 50;
    color:  #F6A5C0; 
    font-family: natureBeauty, 'Arial';
    padding-bottom: 20px;
  }
  
  .headerContainer p {
    padding: 0;
    font-size: 40px;
    font-weight: lighter;
    color:  #F6A5C0; 
    font-family: natureBeauty, 'Arial';
  }
  
  .headerContainer button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    background-color: #121619;
    height: 60px;
    width: 250px;
    color: #F6A5C0;
    text-decoration: none;
    font-size: 26px;
  }
  
  .headerContainer button:hover { 
    cursor: pointer;
    background-color: #F6A5C0;
    color: #121619;
    transition: 0.8s ease-in;
  }

  /** slider */
  .slideIn1 {
    margin-bottom: 0;
    opacity: 0;
    transform: translateX(-25px);
    transition: opacity 1.4s ease-in-out, transform 1.4s ease-in-out;
  }
  
  .slideIn1.visible {
    opacity: 1;
    transform: translateX(0);
  }
  
  .slideIn2{
    margin-top: 0;
    opacity: 0;
    transform: translateX(-30px);
    transition: opacity 2s ease-in-out, transform 2s ease-in-out;
  }

  .slideIn2.visible {
    opacity: 1;
    transform: translateX(0);
  }

  @media only screen and (max-width: 800px) {
    .home {
      justify-content: center;
      align-items: center;
    }

    .headerContainer {
      margin-left: 0px;
      border-radius: 10px;
      padding: 10px;
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: #121619;
      color: white;
    }
  
    .headerContainer h1 {
      font-size: 40px;
      padding: 2px;
      color:  #F6A5C0; 
      font-family: natureBeauty, 'Arial';
      text-align: center; 
      margin: 5px 5px;
    }
  
    .headerContainer p {
      font-size: 30px;
      color:  #F6A5C0; 
      font-family: natureBeauty, 'Arial';
      text-align: center; 
     
    }

    p {
      margin: 1em;
      padding: 1em;
    }
  
    .headerContainer button {
      margin-bottom: 10px;
      background-color: #F6A5C0; 
      height: 50px;
      width: 200px;
      color: #121619;
      text-decoration: none;
      font-size: 20px;
    }
  }