@font-face {
  font-family: "natureBeauty";
  src: url("../fonts/nature_beauty.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.navbar .rightSide .dropdown .dropdownAnchor {
  width: 75%;
}



.navbar .rightSide a:hover {
  color: #f6a5c0;
}

.navbar a.active {
  border: 2px solid #f6a5c0;
  padding: 10px;
  border-radius: 10px;
}

.navbar {
  width: 100%;
  height: 100px;
  background-color: #121619;
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 2;
}

.navbar h1 {
  color: #f6a5c0;
  font-family: natureBeauty, "Arial";
}

.navbar .leftSide {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 90px;
}


.navbar .rightSide {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 20px;
  text-align: center;
}

.navbar .rightSide button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.navbar .rightSide svg {
  font-size: 40px;
}





/** */

/* Add this to your styles.css or a styled-components file */
@keyframes fadeIn {
  from {
    opacity: 0.2;
 
    transform: translateX(50px);
  }
  to {
  
    opacity: 1;
    transform: translateX(0);
  }

}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0.2;
    transform: translateX(50px);
  }
}

.navbar .rightSide .dropdown {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  position: absolute;
  
  top: 100px;
  right: 0px;
  width: 220px;
  background:  #333333;
  padding: 8px 8px 8px 8px;

  /**transform: translateY(-10px); */
  animation: fadeIn 0.4s ease-out;
  
 
}














@media only screen and (max-width: 900px) {
  .navbar .rightSide a {
    width: 70px;
  }
  .navbar .leftSide {
    padding-left: 50px;
  }
}


@media only screen and (max-width: 800px) {
 
  .navbar .rightSide .desktopAnchor {
    display: none;
  }
  

  .navbar .rightSide {
    justify-content: flex-end;
    padding-right: 50px;
  }

  .navbar .rightSide button {
    display: inherit;
  }

  .navbar .leftSide {
    flex: 80%;
  }
  
  h1 {
    font-size: 1.4em;
  }

  .rightSide {
    flex: 20%;
  }

}

@media only screen and (min-width: 801px) {
  .navbar .rightSide button {
    display: none;
  }

  .navbar .dropdown {
    display: none;
  }
 
}

